@import url('https://fonts.googleapis.com/css?family=Creepster&display=swap');

.Nav-Bar {
    font-family: 'Creepster', cursive;
    }

.nav-link {
    color: red;
}

img {
    height: 20%;
    width: 20%;
    opacity: 0.5;
    filter: alpha(opacity=50);
}